:root {
    --com-border-radius: 25px;
}

.flex-card-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;

    max-width: 54em;
    margin: auto;
}

.flex-card-main-child {
    order: 0;
    flex: 0 1 auto;

    align-self: center;
    align-items: stretch;

    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: black;
    background-color: tomato;

    width: 400px;
    margin-bottom: 2em;

    box-shadow: 0px 4px 2px rgb(0 0 0);
}

.flex-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    height: inherit;

}

.flex-card-item:nth-child(1) {
    order: 0;
    flex: 0 fit-content;
    align-self: auto;
    min-height: 200px;
    border: 10px;
    border-top-left-radius: var(--com-border-radius);
    border-top-right-radius: var(--com-border-radius);
    padding: 15px;
    /*background-image: url("/Assets/tankgame.png");*/
    background-size: cover;
    background-clip: border-box;
}

.flex-card-item:nth-child(2) {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    background: lightsalmon;
    padding: 0.5em;
    font-family: 'Courier New', monospace;
    color: black;
}

.flex-card-item:nth-child(3) {
    order: 2;
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
    width: 80%;
    margin: 5px;

}

.card-img {
    max-width: 100%;
    max-height: 100%;
    border-style: unset;
    border-radius: 20px;
}

.card-button {
    display: inline-block;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    background-color: DarkCyan;

    font-size: 1em;
    font-weight: bold;
    color: white;

    padding: 15px 5px 15px 5px;
    width: 100%;
    margin: 1rem 0 1rem 0;

    box-shadow: 0px 2px 2px rgb(0 0 0);
}

.card-button-img {
    height: 100%;
}

.card-button:hover {
    background-color: CadetBlue;
}

.card-button:active {
    background-color: teal;
    box-shadow: 0px 0px 0px rgb(0 0 0);
}

h2 {
    margin-block-start: 0.15em;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
}

@media (max-width:1024px) {
    .flex-card-main-child {
        height: auto;
        width: 100%;
        font-size: 3em;
    }

    .flex-card-item:nth-child(1) {
        order: 0;
        flex: 0 fit-content;
    }

    .flex-card-item:nth-child(2) {}

    .flex-card-item:nth-child(3) {}
}