#main-content {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: black;
    background-color: tomato;

    width: 900px;
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 50px;
    box-shadow: 0px 4px 2px rgb(0 0 0);
}

#main-content-text {
    border-radius: 10px;
    background-color: LightSalmon;
    padding: 1rem 3rem 2rem 3rem;
    margin: 2rem 3rem 3rem 3rem;
}

#blog-content-text {
    border-radius: 0px 0px 10px 10px;
    background-color: LightSalmon;
    padding: 1rem 3rem 2rem 3rem;
    margin: 0rem 3rem 0rem 3rem;
}

#main-content-text>h3 {
    color: black;
}

.nav-bar {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 1em;
    margin: 0 auto;
}

.return-bar {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
}

.nav-button {
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    min-width: 8rem;
    max-width: fit-content;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    background-color: DarkCyan;

    font-size: 2rem;
    color: white;
    text-decoration: none;
    text-shadow:
        0px 2px 0 #000;
    box-shadow: 0px 2px 2px rgb(0 0 0);
}

.nav-button:hover {
    background-color: CadetBlue;
}

.nav-button:active {
    background-color: teal;
    box-shadow: 0px 0px 0px rgb(0 0 0);
}

#content {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

#banner {
    display: table;
    /*background-image: url("/Assets/unknown.png");*/
    background-image: linear-gradient(rgb(123, 88, 109), rgb(255, 99, 33));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    color: white;
    border-style: solid none solid none;
    border-color: tomato;
    border-width: 10px;
}

.banner-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 10em;
    line-height: 15rem;
    font-size: 3.5vw;
    text-shadow:
        0px 5px 1px #000,
        -1px -1px 1px #000,
        1px -1px 1px #000,
        1px 1px 1px #000;
}

.collapsible {
    display: block;
    position: relative;

    background-color: darkcyan;
    font-family: 'Courier New', monospace;
    cursor: pointer;
    padding: 18px;
    margin: 0 auto;
    margin-top: 1em;
    width: 90%;

    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    text-shadow: 0px 1px 0 #000;
    box-shadow: 0px 2px 2px rgb(0 0 0);
}

.active,
.collapsible:hover {
    background-color: CadetBlue;
}

.collapsible-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.proj-img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 2px 2px 0px rgb(0 0 0);

}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    box-shadow: 2px 2px 0px rgb(0 0 0);

}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    box-shadow: 2px 2px 0px rgb(0 0 0);

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 2px 2px 0px rgb(0 0 0);
}

h1 {
    text-align: center;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-height: fit-content;
}

html {
    background-image: linear-gradient(pink, lightgoldenrodyellow);
    /*thistle?*/
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Courier New', monospace;
}

main {
    padding-top: 1em;
    padding-bottom: 5em;
}

@media (min-width:1024px) {
    .nav-bar {
        width: 900px;
    }

    .nav-button {
        font-size: 1.5rem;
    }

    .flex-proj-main-child {
        width: 900px;
    }
}

@media (max-width:1024px) {
    #content {
        width: 900px;
        margin: 0 auto;
    }

    #content>p {
        font-size: 1.4rem;
    }

    #main-content-text {
        font-size: 1.2rem;
    }
}